<div class="webprofiler">
  <div>
    <div>{{ profile.url }}</div>
    <div>{{ 'Method: @method HTTP Status: @status IP: @ip Profiled on: @time Token: @token'|t({'@method': profile.method, '@status': profile.statuscode, '@ip': profile.ip, '@time': profile.time|format_date('long'), '@token': profile.token}) }}</div>
  </div>

  <div class="webprofiler__dashboard">
    <div class="webprofiler__collectors">
      <ul>
        {% for collector in collectors %}
          <li class="webprofiler__collector"><a
              href="{{ path('webprofiler.panel', {'token': token, 'name': collector.name}) }}"
              class="use-ajax" data-collector-name="{{ collector.name }}">{{ collector.name|capitalize }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="webprofiler__panels">
      <div class="webprofiler__panel" id="js-webprofiler-panel">
        <p>{{ 'Choose a panel on the left'|t }}</p>
      </div>
    </div>
  </div>
</div>
