<!-- START of Symfony Web Debug Toolbar -->
<div id="sfMiniToolbar-{{ token }}" class="sf-minitoolbar" data-no-turbolink>
  <button type="button" title="Show Symfony toolbar" id="sfToolbarMiniToggler-{{ token }}" accesskey="D" aria-expanded="false" aria-controls="sfToolbarMainContent-{{ token }}">
    {{ include('@webprofiler/Icon/symfony.svg') }}
  </button>
</div>
<div id="sfToolbarClearer-{{ token }}" class="sf-toolbar-clearer"></div>

<div id="sfToolbarMainContent-{{ token }}" class="sf-toolbarreset clear-fix" data-no-turbolink>
  {% for name, template in templates %}
    {% if block('toolbar', template) is defined %}
      {% with {
        collector: profile ? profile.getcollector(name) : null,
        profiler_url: profiler_url,
        token: token ?? (profile ? profile.token : null),
        name: name,
        csp_script_nonce: csp_script_nonce,
        csp_style_nonce: csp_style_nonce
        } %}
        {{ block('toolbar', template) }}
      {% endwith %}
    {% endif %}
  {% endfor %}

  <button class="hide-button" type="button" id="sfToolbarHideButton-{{ token }}" title="Close Toolbar" accesskey="D" aria-expanded="true" aria-controls="sfToolbarMainContent-{{ token }}">
    {{ include('@webprofiler/Icon/close.svg') }}
  </button>
</div>
<!-- END of Symfony Web Debug Toolbar -->
