{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/cache.svg') }}
    <span class="sf-toolbar-value">{{ collector.getCacheHitsCount }} / {{ collector.getCacheMissesCount }}</span>
  {% endset %}

  {% set text %}
    {% for bin, cids in collector.getCacheHits %}
      <div class="sf-toolbar-info-piece">
        <b>{{ bin }}</b>
        <span>{{ cids }}</span>
      </div>
    {% endfor %}
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
