{% block toolbar %}

  {% set icon %}
    {% set status = collector.querycount > 50 ? 'yellow' %}

    {{ include('@webprofiler/Icon/database.svg') }}
    <span class="sf-toolbar-value">{{ collector.querycount }}</span>
    <span class="sf-toolbar-info-piece-additional-detail">
      <span class="sf-toolbar-label">in</span>
      <span class="sf-toolbar-value">{{ '%0.2f'|format(collector.time) }}</span>
      <span class="sf-toolbar-label">ms</span>
    </span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>Db queries</b>
      <span>{{ collector.querycount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>Query time</b>
      <span>{{ '%0.2f'|format(collector.time) }} ms</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>Default database</b>
      <span>{{ collector.database.driver }}://{{ collector.database.host }}:{{ collector.database.port }}/{{ collector.database.database }}</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status|default('') }) }}
{% endblock %}

{% block panel %}
  {{ attach_library('webprofiler/database')}}

  {% if collector.querycount <= 200 %}
    {{ attach_library('webprofiler/database.highlight')}}
  {% else %}
    <p>{{ 'Too many queries, highlighting has been disabled.'|t }}</p>
  {% endif %}

  {% for query in collector.queries %}
    {{ _self.query(query, token, loop.index0, collector.queryHighlightThreshold) }}
  {% endfor %}
{% endblock %}

{% macro query(query, token, qid, queryHighlightThreshold) %}
  {% set slow_query = query.time > (queryHighlightThreshold/10) %}
  <div
    data-webprofiler-caller="{% if query.caller.class is not null %}{{ query.caller.class|lower }}{% endif %}"
    data-webprofiler-database="{{ query.database }}"
    data-webprofiler-type="{{ query_type(query.query) }}"
    data-webprofiler-slow="{% if slow_query %}1{% else %}0{% endif %}"
    class="{% if slow_query %}slow-query{% endif %}"
  >
    <pre>
      <code data-webprofiler-placeholder-query="{{ qid }}" class="language-sql">{{ query.query }}</code>
      {% if query.args %}<code data-webprofiler-executable-query="{{ qid }}" class="language-sql is-hidden">{{ query_executable(query) }}</code>{% endif %}
    </pre>

    <div>
      <dl>
        <dt>Time</dt>
        <dd>{{ query.time }} ms</dd>
        <dt>Caller</dt>
        <dd>{{ query.caller.class }}</dd>
        <dt>Database</dt>
        <dd>{{ query.database }}</dd>
        <dt>Target</dt>
        <dd>{{ query.target }}</dd>
      </dl>
    </div>

    {% if query.args %}<a data-webprofiler-executable-toggle data-webprofiler-qid="{{ qid }}">Swap placeholders</a>{% endif %}
    {% if query.args %}<a data-webprofiler-placeholder-toggle data-webprofiler-qid="{{ qid }}">Show placeholders</a>{% endif %}
    <a data-webprofiler-copy data-webprofiler-qid="{{ qid }}">Copy query</a>
    {% if query_type(query.query) == 'SELECT' %}
      <a href="{{ path('webprofiler.database.explain', {'token': token, 'qid': qid}) }}"
        class="use-ajax">Explain
      </a>
    {% endif %}

    <div class="js--explain-target-{{ qid }}"></div>

    {% if query.args %}
      <div data-webprofiler-placeholder-target="{{ qid }}" class="is-hidden">
        <dl>
          {% for key,placeholder in query.args %}
            <dt>{{ key }}</dt>
            <dd>{{ placeholder }}</dd>
          {% endfor %}
        </dl>
      </div>
    {% endif %}
  </div>
{% endmacro %}
