{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/event.svg') }}
    <span class="sf-toolbar-value">{{ collector.getCalledListenersCount }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Called'|t }}</b>
      <span>{{ collector.getCalledListenersCount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Not called'|t }}</b>
      <span>{{ collector.getNotCalledListenersCount }}</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
