{% block toolbar %}

  {% set icon %}
    {{ include('@webprofiler/Icon/blocks.svg') }}
    <span class="sf-toolbar-value">{{ collector.getExtensionsCount }}</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Modules'|t }}</b>
      <span>{{ collector.getModulesCount }}</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>{{ 'Themes'|t }}</b>
      <span>{{ collector.getThemesCount }}</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url }) }}
{% endblock %}

{% block panel %}
  {{ collector.panel() }}
{% endblock %}
