{% block toolbar %}

  {% set has_time_events = collector.events|length > 0 %}
  {% set total_time = has_time_events ? '%.0f'|format(collector.duration) : 'n/a' %}
  {% set initialization_time = collector.events|length ? '%.0f'|format(collector.inittime) : 'n/a' %}
  {% set status_color = has_time_events and collector.duration > 1000 ? 'yellow' %}

  {% set icon %}
    {{ include('@webprofiler/Icon/time.svg') }}
    <span class="sf-toolbar-value">{{ total_time }}</span>
    <span class="sf-toolbar-label">ms</span>
  {% endset %}

  {% set text %}
    <div class="sf-toolbar-info-piece">
      <b>Total time</b>
      <span>{{ total_time }} ms</span>
    </div>
    <div class="sf-toolbar-info-piece">
      <b>Initialization time</b>
      <span>{{ initialization_time }} ms</span>
    </div>
  {% endset %}

  {{ include('@webprofiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
{% endblock %}
